* {
    box-sizing: border-box;
}

.page {
    background-color: rgb(20, 19, 19);
    width: 100vw,;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.container {
    width: 50%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header {
    background-color: rgb(76, 78, 80);
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > h3 {
    color: white;
    margin: 2vmax;
}

.header > p {
    margin: 2vmax;
    font-size: larger;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.header > p:hover {
    transform: scale(1.2);
}

.chatBody {
    height: 70%;
    width: 100%;
}

.inputBox {
    height: 15%;
    width: 100%;
    display: flex;;
}

#chatMessage {
    width: 80%;
    border: none;
    outline: none;
    font-size: large;
    border-top: 1px solid black;
    padding: 8px;
}

.sendBtn {
    width: 20%;
    background-color: rgb(67, 187, 113);
    color: white;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.sendBtn:hover {
    background-color: rgb(49, 122, 77);
}

